{% extends 'layout.html' %}
{% block content %}
<h3>Change Password</h3>

<div class="card p-4 shadow">
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <form method="POST">
    <div class="mb-3">
      <label>Old Password</label>
      <input type="password" name="old_password" class="form-control" required>
    </div>

    <div class="mb-3">
      <label>New Password</label>
      <input type="password" name="new_password" class="form-control" required>
    </div>

    <button class="btn btn-warning w-100">Update Password</button>
  </form>
</div>
{% endblock %}
